<div class="container d-flex justify-content-center">
  <div class="card bg-light shadow m-5 rounded-4" style="width: 28rem;">
    <div class="card-header text-center">
      Devis
    </div>
    <ul class="list-group list-group-flush text-center drop-shadow">
      <li class="list-group-item">Date de début : <%= @estimate.start_date %></li>
      <li class="list-group-item">Date de fin : <%= @estimate.end_date %></li>
      <li class="list-group-item">Nombre d'agents : <%= @estimate.number_of_agents %></li>
      <li class="list-group-item">Commentaires : <%= @estimate.comment %></li>
      <li class="list-group-item">Prix : <%= @estimate.price %>€</li>

    </ul>
    <div class="card-footer d-flex justify-content-between p-4">
    Liste des agents disponibles:
    
      <%= simple_form_for [@mission, @contract] do |f |%>
    <% @agents.each do |agent| %>
        <label for=""><%= agent.first_name %></label>
          <input type="checkbox" name="agents[]" id="agent" value="<%= agent.id %>">
      <% end %>

      <%= hidden_field_tag(:estimate_id, @estimate.id) %>
           <%= f.button :submit %>
  <% end %>
    </div>
  </div>
</div>
