<!-- CONTENT -->
<section id="content">
    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>
                    <%= @user.name %>
                </h1>
                <ul class="breadcrumb">
                    <li>
                        <%= link_to 'Mes Agents' , agents_path, class: "btn-download text-white active" %>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                </ul>
            </div>
        </div>


        <div class="table-data">
            <div class="order shadow-lg">
                <div class="head">
                    <h3>Offres récentes</h3>
                    <a href="#" class="btn-download">
                        <i class='bx bxs-cloud-download'></i>
                        <span class="text">Voir tout</span>
                    </a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Offres</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Voir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @missions.each do |mission| %>
                            <tr>
                                <td class="m-2">
                                    <%= mission.user.name %>
                                </td>
                                <td>
                                    <p class="m-2">
                                        <%= mission.event_type %>
                                    </p>
                                </td>
                                <td>
                                    <%= mission.start_date %>
                                </td>
                                <td>
                                    <%= mission.end_date %>
                                </td>
                                <td>
                                    <%= link_to mission_path(mission) do %>
                                        <%= content_tag :i, '' , class: 'fa-solid fa-eye text-dark' %>
                                            <% end %>
                                </td>
                            </tr>
                            <% end %>
                    </tbody>
                </table>
            </div>
            <div class="todo shadow-lg">
                <div class="head">
                    <h3>Boite de réception</h3>
                </div>
                <ul class="todo-list">
                    <li class="not-completed">
                        <% @chatrooms.each do |chatroom| %>
                            <small>
                                <%= link_to "envoyer un message", chatroom_path(chatroom) %>
                            </small>
                        <% end %>
                        <p>message</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>