<!-- CONTENT -->
<section id="content">
    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1><%= @user.name %></h1>
                <ul class="breadcrumb">
                    <li>
                        <%= link_to 'Postuler pour une mission', new_mission_path, class: "btn-download text-white active" %>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                </ul>
            </div>
        </div>


        <div class="table-data">
            <div class="order shadow-lg">
                <div class="head">
                    <h3>Devis reçus</h3>
                    <a href="#" class="btn-download">
                        <i class='bx bxs-cloud-download'></i>
                        <span class="text">Voir tout</span>
                    </a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Prestataire</th>
                            <th>Nombre agent</th>
                            <th>Prix proposer</th>
                            <th>Voir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @estimates.each do |estimate| %>
                        <tr>

                            <td class="m-2">
                               <%= estimate.user.name %>
                            </td>
                            <td><%= estimate.number_of_agents %></td>
                            <td><%= estimate.price %></td>
                            <td>
                               <%= link_to mission_estimate_path(estimate.mission, estimate) do %>
                                    <%= content_tag :i, '' , class: 'fa-solid fa-eye text-dark' %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="todo shadow-lg">
                <div class="head">
                    <h3>Boite de réception</h3>
                </div>
                <ul class="todo-list">
                    <li class="completed">
                        <small><p>Nom de l'entreprise</p></small>
                        <p></p>
                    </li>
                    <li class="not-completed">
                        <small><p>Nom de l'entreprise</p></small>
                        <p>message</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
