

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card shadow-lg">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="https://secoprotec.com/wp-content/uploads/2021/01/APS.jpg"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                <%= link_to 'Editer', edit_agent_path(@agent) %>
              </button>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5><%= @agent.first_name %> <%= @agent.last_name %></h5>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div class="px-2">
                <i class="fa-light fa-star"></i>
              </div>
              <div class="px-2">
                <i class="fa-light fa-star"></i>
              </div>
              <div class="px-2">
                <i class="fa-light fa-star"></i>
              </div>
              <div class="px-2">
                <i class="fa-light fa-star"></i>
              </div>
              <div class="px-2">
                <i class="fa-light fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black "  style="background-color: #f4f4fa;">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Informations</p>
              <div class="p-4 shadow mt-4 rounded-5" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Date de naissance : <%= @agent.birth_date %></p>
                <p class="font-italic mb-1">Email : <%= @agent.email %></p>
                <p class="font-italic mb-1">Numéro de teléphone : <%= @agent.phone_number %></p>
                <p class="font-italic mb-1">Adresse : <%= @agent.address %></p>
                <p class="font-italic mb-1">IBAN : <%= @agent.iban %></p>
              </div>
            </div>
            <div>
              <button type="button"><%= link_to 'Retour à la liste des agents', agents_path %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
