<div class="container mt-5">
    <div class="row">
        <div class="d-flex col-10">
            <div class="d-flex flex-column">
                <h1 class="">
                    <%= @mission.user.name %>
                </h1>
                <div class="mt-3">
                    <% if current_user.category=="Security Company" %>
                        <%= link_to "Faire un devis" , new_mission_estimate_path(@mission),
                            class: "btn btn-outline-primary rounded" %>
                            <% end %>
                </div>
                <div class="border rounded border-dark p-3 mt-4">
                    <div class="row mt-3">
                        <div class="col-4">
                            <p>
                                Type de mission : <%= @mission.event_type %>
                            </p>
                        </div>
                        <div class="col-4">
                            <p>
                                Debut : <%= @mission.start_date %>
                            </p>
                        </div>
                        <div class="col-4">
                            <p>
                                Fin : <%= @mission.end_date %>
                            </p>
                        </div>
                        <div class="col-4">
                            <p>
                                Agents : <%= @mission.number_of_agents %>
                            </p>
                        </div>
                        <div class="col-4">
                            <p>
                                Budget : <%= @mission.budget %>
                            </p>
                        </div>
                        <div class="col-11">
                            <hr class="my-5">
                        </div>
                        <div>
                            <h5 style="font-weight: bold;">Commentaire</h5>
                            <p>
                                <%= @mission.comment %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>